.jumbotron {
	text-align: center;
	color: white;
	background-color: #949494;
}

.jumbotron h1 {
	padding-top: 50px;
	font-size: 72px;
	font-weight: 700;
}

.jumbotron p a {
	color: yellow;
}
.ghost {
	opacity: 0.1;
	font-size: 200%;
}
.dragover {
	background-color: grey;
}
.pad-top {
	padding-top : 50px;
}
figure.image {
  display: inline-block;
  
  margin: 10px;
  padding: 5px;
  
  border: 10px solid white;

  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

figure.image img {
	width: 100%;
}
figure.image figcaption {
  text-align: center;
  margin-top: 8px;
}

.thumbnail {
	width: 120px;
	padding: 5px;
}

.fixed-right {
	position: fixed;
	right: 10px;
	margin-top: 8px;
	z-index: 100;
}

figure.thumbnail {
  border: 1px solid white;
}

section {
	padding: 0 0 80px 0;
}

section.bg-blue {
	color: #fff;
	background-color: #337ab7;	
}

section h1 {
	padding-top: 80px;
	font-size: 48px;
	font-weight: 700;
}

section .large-icon {
	font-size: 72px;
}